#hero-section {
    position: relative;
}

#hero-section .row {
    position: absolute;
    top: 50%;
}

#contact .contact-form-wrapper {
    width: 40%;
}

#hero-section h1,
#hero-section p {
    color: var(--white)!important;
}

@media (max-width: 768px) {
    #contact .contact-form-wrapper {
        width: 100%;
    }
}