#hero-section {
    position: relative;
}

#hero-section .row {
    position: absolute;
    top: 55%;
}

#hero-section h1 {
    font-size: 56px;
}

#contact .contact-form-wrapper {
    width: 40%;
}

#hero-section h1,
#hero-section p {
    color: var(--white)!important;
}


@media (max-width: 768px) {
    #hero-section {
        height: 50vh;
    }

    #hero-section h1 {
        font-size: 40px;
        text-align: center;
    }

    #hero-section .row {
        margin-top: 0;
        top: 30%;
    }

    #hero-section .row p {
        text-align: center;
    }
}

@media (max-width: 540px) {
    #hero-section .row {
        margin-top: 0;
        top: 20%;
    }
}